*{
	box-sizing: border-box;
}

html, body.scrumkanban-page, section.kanban{
	min-height: 100%;
	margin: 0px;
	padding: 0px;
	min-height: 100%;
}

section.kanban{

}

.kanban-header{
	box-sizing: border-box;
	position: relative;
	padding: 10px;
	margin: 10px;
	background: rgba(226,228,230,0.85);
}

.kanban-title__label{
	font-weight: normal;
}

#scrum-kanban{
	--box-border-radius : 4px;
	--box-shadow: 1px 1px 1px rgba(0,0,0,0.1);

	padding: 0 5px 20px 5px;

	position: relative;
	max-width: 100%;
	overflow: auto;
}

.scrumkanban-page{
	/*TODO : remove backgroud external image keep only for testing */
	background-image: url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2398x1600/879b403290dda8e841fdaca6a34013ab/photo-1530103862676-de8c9debad1d.jpg");
}

.kankan-default-header{
	background: #2A92BF;
	color: #fff;
}




/*
* Kanban style override
*/
#scrum-kanban .kanban-board {
	background: rgba(226,228,230,0.85);
	border-radius: var(--box-border-radius);
	box-shadow: var(--box-shadow);
	overflow: hidden;
}

#scrum-kanban .kanban-item {
	border-radius: var(--box-border-radius);
	box-shadow: var(--box-shadow);
	margin-bottom: 10px;
}

#scrum-kanban .kanban-drag{
	padding: 10px;
}

.kanban-list-add-button{
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 7px 15px;
	margin: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

/**
* Drop down
 */

/* The whole thing */
.context-dropdown-menu {
	display: none;
	z-index: 1000;
	position: absolute;
	overflow: hidden;
	border: 1px solid #CCC;
	white-space: nowrap;
	font-family: sans-serif;
	background: #FFF;
	color: #333;
	border-radius: 5px;
	padding: 0;
}

/* Each of the items in the list */
.context-dropdown-menu li {
	padding: 8px 12px;
	cursor: pointer;
	list-style-type: none;
	transition: all .3s ease;
	user-select: none;
}

.context-dropdown-menu li:hover {
	background-color: #DEF;
}

/*
* Kanban item
*/
#scrum-kanban .kanban-item{
	box-shadow: var(--box-shadow), inset 5px 0px 0px 0 var(--kanban-item-color, #fff);
}
.kanban-item[data-type="scrum-card"]{
	--kanban-item-color : #a9a9a9;
}

.kanban-item[data-type="scrum-user-story"]{
	--kanban-item-color : #e34f00;
}

.kanban-item[data-type="scrum-user-story-task"]{
	--kanban-item-color : #d0b400;
}

/*
* Scroll barr
 */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius:  10px;
}

::-webkit-scrollbar-thumb {
	border-radius:  10px;
	background: rgba(197, 197, 197, 0.85);
}

/*::-webkit-scrollbar-thumb:window-inactive {*/
/*	background: rgba(0, 0, 0, 0.1)*/
/*}*/
