.quick-add-form{
	background-color: #ebebeb;
	padding: 20px;
	margin-bottom: 20px;
}

.toggle-more-btn{
	margin-right: 0.7em;
	cursor: pointer;
}

tr.toggle-line-display{
	display: none;
}

tr.toggle-line-display.--open{
	display: table-row;
}



.delete-ico.--disabled .fa:before, .delete-ico.--disabled:hover .fa:before{
	color: #a9a9a9;
}

.live-edit{
	--border-color: #c4c4c4;
	cursor: text;
}

.live-edit:hover{
	outline: 1px solid var(--border-color);
}

.live-edit:focus{
	min-width: 30px;
	outline: 1px solid var(--border-color);
	background-color: #fff;
	box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.1);
}
