.quick-add-form{
	background-color: #ebebeb;
	padding: 20px;
	margin-bottom: 20px;
}

.toggle-more-btn{
	margin-right: 0.7em;
	cursor: pointer;
}

tr.toggle-line-display{
	display: none;
}

tr.toggle-line-display.--open{
	display: table-row;
}

button.ajax-action{
	cursor: pointer;
}


.delete-ico.--disabled .fa:before, .delete-ico.--disabled:hover .fa:before{
	color: #a9a9a9;
}

.icon-kanban{
	transform: rotate(270deg) translateX(25%);
}


/*
 * Form toggle display
 */

.scrum-project-form-toggle-target[data-display="0"]{
	display: none;
}

.scrum-project-form-toggle-target[data-display="1"] .select2-container{
	min-width: 200px; /* fix for micro with */
}


/**
 TABLE .scrum-user-story-plan-wizard
 */
.scrum-user-story-plan-wizard .col-scrumsprint, .scrum-user-story-plan-wizard .col-scrumsprint-qty-to-plan{
	background-color: rgba(0,0,0,0.05);
}


.sprint-resume-table{
	width: 100%;
	border-collapse: collapse;
}

.sprint-resume-table :where(td,th) {
	padding: 5px 10px;
	min-width: 32px;
}


.sprint-resume-table tbody tr:nth-child(even){
	background: rgba(0,0,0,0.05);
}

.sprint-resume-table tbody tr:hover{
	background: rgba(0, 37, 152, 0.1);
}


.sprint-resume-table tbody :where(td,th) {
	border-top: 1px solid rgba(0,0,0,0.1);
}
.sprint-resume-col{
	border-left: 1px solid rgba(0,0,0,0.1);
}

.sprint-goal-ratio-ok{
	color: #0ca30a;
}


.productivity-badge-icon{
	color: #cbaa00;
}

.sprint-resume-table :where(tfoot .total)  {
	border-top: 2px solid rgba(0,0,0,0.2);
	background: rgba(0,0,0,0.02);
}

.sprint-resume-table :where(tfoot .total) :where(td,th) {
	padding: 10px 10px;
}

.inline-spaced-item:not(:first-child) {
	margin-left: 20px;
}

.sprint-resume-text-section{
	margin: 20px 0;
}


.danger-over-planned td{
	background: #bd7e7e80;
}
.success-planned td{
	background: #b7e77780;
}
