.quick-add-form{
	background-color: #ebebeb;
	padding: 20px;
	margin-bottom: 20px;
}

.toggle-more-btn{
	margin-right: 0.7em;
	cursor: pointer;
}

tr.toggle-line-display{
	display: none;
}

tr.toggle-line-display.--open{
	display: table-row;
}



.delete-ico.--disabled .fa:before, .delete-ico.--disabled:hover .fa:before{
	color: #a9a9a9;
}

.icon-kanban{
	transform: rotate(270deg) translateX(25%);
}


/*
 * Form toggle display
 */

.scrum-project-form-toggle-target[data-display="0"]{
	display: none;
}

.scrum-project-form-toggle-target[data-display="1"] .select2-container{
	min-width: 200px; /* fix for micro with */
}


/**
 TABLE .scrum-user-story-plan-wizard
 */
.scrum-user-story-plan-wizard .col-scrumsprint, .scrum-user-story-plan-wizard .col-scrumsprint-qty-to-plan{
	background-color: rgba(0,0,0,0.05);
}
